/* 
    Created on : 15 nov 2024, 1:32:29 p. m.
    Author     : pablo
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.formularios {
    width: 700px;
    height: auto;
    margin: 40px;
    
}

